.wd-modules {
  padding: 36px 48px 48px 48px;
}

.wd-modules-list {
  border-radius: 0%;
}

.wd-modules-list > li {
  background-color: var(--module-gray);
  border: 1px solid var(--wd-border-gray) !important;
  padding: 0px;
  margin-bottom: 20px;
}

.wd-modules-list > li > ul > li {
  padding: 12px 6px 12px 10px;
  border-top: 1px solid var(--wd-border-gray) !important;
  border-left: 2px solid green;
}

.wd-modules-buttons {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--wd-border-gray);
  display: flex;
  gap: 4px;
  justify-content: right;
}

.wd-modules-content {
  padding-top: 27px;
}

.wd-module-form-fields {
  display: flex;
  flex-direction: column;
}

.wd-module-form {
  display: flex;
  padding: 6px 12px;
  background-color: white;
  border-radius: 10px;
  /* border: var(--wd-border-gray); */
  justify-content: space-between;
}

.wd-white-on-green {
  align-self: flex-start;
  color: white;
  background-color: green;
  padding: 4px 8px;
  border-radius: 4px;
}

.wd-module-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wd-module-editer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: inherit;
  width: 100%;
}

.wd-white-on-red {
  color: white;
  background-color: var(--neu-red);
  padding: 4px 8px;
  border-radius: 4px;
}

.wd-white-on-blue {
  color: white;
  background-color: var(--wd-update-blue);
  padding: 4px 8px;
  border-radius: 4px;
}
