.wd-whole-navigation {
  background-color: white;
  width: 125px;
  padding-left: 24px;
  padding-top: 24px;
}

.wd-navigation {
  list-style: none;
  padding: 0px;
}
.wd-navigation li {
  padding: 8px 0px 8px 6px;
}
.wd-navigation li.wd-active {
  border-left: 2px solid black;
}
.wd-navigation li.wd-active a {
  color: black;
}
.wd-navigation a {
  color: var(--dull-red);
  text-decoration: none;
}
