.wd-course-top {
  margin: 0px 24px;
  border-bottom: 1px solid var(--wd-border-gray);
}

.wd-course-header {
  color: var(--dull-red);
  font-size: 18px;
  display: flex;
}

.wd-course-mini-bar {
  padding: 1px;
  margin-right: 12px;
}

.wd-course-arrow {
  margin: 0px 9px;
}

.wd-course-breadcrumb {
  color: var(--wd-text-gray);
}

.wd-course-content {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .wd-display-md-show {
    display: block !important;
  }
}

.wd-mobile-nav {
  align-items: center;
  background-color: black;
}

.wd-mobile-nav-title {
  padding: 15.6px;
}

.wd-mobile-nav-title a {
  color: white;
  text-decoration: none;
}

.wd-mobile-nav button {
  color: white;
  background-color: inherit;
  border: none;
}
