:root {
  --card-width: 290px;
  --dull-red: #ba3635;
  --neu-red: #d4192d;
  --module-gray: #f5f5f5;
  --wd-border-gray: #c7cdd1;
  --wd-text-gray: #384a54;
  --wd-title-gray: #4c3d4e;
  --wd-publish-green: #9ec19a;
  --wd-update-blue: #0a6ffe;
}

body {
  margin: 0;
  padding: 0;
}
body * {
  font-family: Arial, Helvetica, sans-serif;
}

.wd-float-done {
  clear: both;
}
.wd-float-left {
  float: right;
  height: 100px;
}
