.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin-top: 15px;
  padding: 9px;
}

.wd-modules > li {
  background-color: var(--module-gray);
  border: 1px solid var(--wd-border-gray) !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 12px 6px;
  border-left: 1px solid var(--wd-border-gray) !important;
}

.wd-modules > li > ul > li {
  padding: 12px 6px 12px 10px;
  border-top: 1px solid var(--wd-border-gray) !important;
  border-left: 2px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.wd-modules-sub-section {
  padding-left: 52px;
}

.type_icon {
  padding-left: 40px;
}

.wd-module-buttons {
  padding-bottom: 12px;
  float: right;
}

.wd-module-all-parts {
  padding: 36px 48px;
}
